html {
    background-color: #f0f0f0;
    /* background-color: lightgreen; */
    /* background-image: url(gris.png) */
}

img {
	width: 100px;
	height: 100px;
}

body {
    border: 0.1px solid rgb(68, 68, 68) ;
    
    padding: 2px;
    width: 25%;
    background-color: white;
    border-radius:5px;
    color: black;
    transform: perspective(1px) translateY(25%);
    opacity: 1;
    box-shadow: 10px 5px 5px black;
}

Titre {
    font-size: 30px
}

label {
    height:20px;
    width:20px;
}

memory {
    background-color: ;
}

login {
    
        line-height: 2.5;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 1px;
        background-color: lightskyblue;
        border: 1px black;
}

login:hover {
    background-color:black;
    color: white;
}

mdp:hover {
    text-decoration: underline;
}

/* .champ {
    height: 50px;
    width: 300px;
    font-size: 3.5em;
} */